
<h1><%= @restaurant.name %></h1>

<%= image_tag @restaurant.image, :class => 'feature' unless @restaurant.image.nil? %>

<ul>
  <li>Website: <%= @restaurant.website %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone: <%= @restaurant.phone %></li>
</ul>

<% if @current_user.present? && @current_user.admin? %>
  <div>
    <%= link_to "Edit restaurant", edit_restaurant_path(@restaurant) %>
    <%= link_to "Delete restaurant", restaurant_path(@restaurant), :method => 'delete', :data => { :confirm => 'Are you sure?' } %>
  </div>
<% end %>

<!-- <%= @restaurant.latitude %>
<%= @restaurant.longitude %> -->



  <% if @restaurant.address.present? %>
    <div id="map"></div>

    </div></div> <!--need predefined height to display content, otherwise it won't expand-->

    <script>
        var map;
        function initMap() {
          map = new google.maps.Map(document.getElementById('map'), {
            center: {
              lat: <%= @restaurant.latitude %>,
              lng: <%= @restaurant.longitude %>
            },
            zoom: 16
          });
        }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCRXwg_OQijgCBgFl1XoVh63khQf0Ojz7A&callback=initMap" async defer
      ></script>

  <% end %>
